@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Pt Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Pt Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;

  position: relative;

  min-height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation {
  display: flex;
  width: 1060px;
  height: 64px; /* как убрать лого из-под ограничения высоты хэдера? чтобы он выглядывал */
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 507px;
}

/* как сдвинуть иконки внутри блока к кнопке? */
.navigation-user-list {
  width: 268px;
}

.navigation-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Pt Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-light {
  background-color: #82B3D3;
}

.button-transparent {
  background-color: transparent;
}

.page-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.page-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.hero {
  height: 485px;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #94989b;
  color: #ffffff;
}

/* не пойму, как задать паддинги, чтобы центрировалось, а не прижималось к верхней строке */
.hero img {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  width: 230px;
  text-align: center;
  color: #333333;
}

.advantages-item {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  width: 1200px;
  height: 384px;
  background-color: #82B3D3;
}

.advantages-item-full .advantages-title {
  color: #ffffff;
}

.advantages-item-full .advantages-text {
  color: #ffffff;
}

/* 1. не понимаю, откуда берется отступ над картинкой
2. не могу затолкать ее в одну строку с текстом */
.advantages-item-full img {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 384px;
  vertical-align: middle;
}

.advantages-content {
  padding: 101.5px 85px;
}

.advantages-container .advantages-content {
  width: 400px;

}

.advantages-list-services .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-services .advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-list-services .advantages-content {
  padding-top: 183px;

  background-repeat: no-repeat;
  background-position: center 78px;
}

.advantages-content-home {
  background-image: url("../images/services-house.svg");
}

.advantages-content-food {
  background-image: url("../images/services-food.svg");
}

.advantages-content-souvenirs {
  background-image: url("../images/services-gift.svg");
}

.page-description {
  margin-bottom: 21px;
  padding: 69px;
}

/* почему не работают другие параметры для этого блока? правило из двух классов же более специфично */
.page-description .page-description-services {
  margin-bottom: 0;
  padding: 64px;
}

.search {
  padding: 96px 304px;
  text-align: center;
}

/* в каком порядке нужно записывать padding'и? */
.subscribe {
  padding-top: 96px;
  padding-left: 258px;
  padding-right: 258px;
  padding-bottom: 104px;
  text-align: center;
}

.subscribe-home {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #333333;
  color: #ffffff;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}

.form-input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  list-style: 24px;
  font-family: "Pt Sans", "Arial", sans-serif;
}

.filter {
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;

  background-image: url("../images/filter-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #333333;

  color: #ffffff;
}

.filter-page-title {
  margin: 0;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.filter-form {
  display: flex;
  margin-top: 40px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group-check {
  margin-right: 70px;
}

.filter-group-radio {
  margin-right: 140.15px;
}

.filter-group-range {
  margin-right: 70px;
}

.filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter-control-label {
  font-size: 18px;
  line-height: 23px;
}

/* для задания этих параметров нужно обернуть сортинг, карточки товаров и пагинацию в общий див? */
.sorting {
  display: flex;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
  justify-content: space-between;
}

.sorting-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
}

.card-link {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.footer {
  display: flex;
  height: 120px;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}

.contact-tel {
  display: block;
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
