@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Pt Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Pt Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;

  position: relative;

  min-height: 100%;
  width: 1200px;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 24px;
  align-items: center;
  width: 100%;
  padding: 0 70px;
}

.navigation-logo {
  position: relative;
  z-index: 1;

  display: block;
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
}

.navigation-item {
  margin: 0 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 6px;
}

.navigation-link {
  display: inline-block;
  position: relative;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;

  padding: 19px 0 17px;
}

.navigation-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* почему-то на главной меньше видно полоску, как будто один пиксель съеден фоном hero. но почему? */
.navigation-link-current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.navigation-user-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.navigation-user-link-favorites-num {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  width: 160px;
}

.button {
  display: inline-block;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Pt Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-light {
  background-color: #82B3D3;
}

.button-light:hover,
.button-light:focus {
  background-color: #68a2ca;
}

.button-light:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent; /* почему приходится повторять фон? почему не наследуется? без повтора закрашивается коричневым */
}

/* у кнопок ведь border: none;, я не понимаю, как сочетать это с бордером здесь
не справилась с box-shadow, но в таком состоянии подпрыгивает section
неужели нужно всем кнопкам задать бордер (и меньший паддинг), чтобы здесь его менять? */
.button-transparent:focus {
  padding: 5px;
  background-color: transparent;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.page-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.page-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.hero {
  position: relative;
  padding: 51px 70px 82px;

  color: #ffffff;

  background-color: #94989b;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero img {
  width: 458px;
  height: 352px;
  display: block;
  margin: 0 auto;
}

.hero::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 57px;
  background-image: url(../images/hero-white.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-container {
  display: flex;
}

.advantages-item:last-child .advantages-container {
  flex-direction: row-reverse;
}

.advantages-title {
  position: relative;

  margin: 0 0 31px;
  padding-bottom: 31px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-item-full .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-text {
  text-align: center;
  color: #333333;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  width: 100%;
  background-color: #82B3D3;
}

.advantages-item-full .advantages-title {
  color: #ffffff;
}

.advantages-item-full .advantages-text {
  color: #ffffff;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-content {
  width: 400px;
  min-height: 384px;
  padding: 113px 85px 30px;
}

.advantages-item-full .advantages-content {
  padding-top: 103px;
}

.advantages-list-services .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-services .advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-list-services .advantages-content {
  padding-top: 183px;

  background-repeat: no-repeat;
  background-position: center 78px;
}

.advantages-content-home {
  background-image: url("../images/services-house.svg");
}

.advantages-content-food {
  background-image: url("../images/services-food.svg");
}

.advantages-content-souvenirs {
  background-image: url("../images/services-gift.svg");
}

.advantages-list-services .advantages-title::after {
  display: none;
}

.advantages-list-services .advantages-title {
  margin-bottom: 29px;
  padding-bottom: 0;
}

.page-description {
  padding: 69px 70px 68px;

  text-align: center;
}

.page-description-services {
  padding-top: 63px;
  padding-bottom: 41px;
}

.search {
  padding: 96px 70px;
  text-align: center;
}

.search-button {
  width: 376px;
  font-size: 20px;
  line-height: 36px;
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 13px 17px 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Pt Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;

  appearance: none;
}

.subscribe {
  padding: 96px 70px 104px;

  text-align: center;
}

.subscribe-home {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333;
  color: #ffffff;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 232px;
  max-width: 684px;
  margin: 0 auto;
}

.subscribe-input {
  height: 52px;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  padding: 6px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.filter {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #94989b;
  background-image: url("../images/filter-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-page-title {
  margin: 0 0 7px;
  padding: 0;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-home {
  display: block;
  width: 13px;
  height: 21px;
  background-image: url("../images/icon-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  width: 7px;
  height: 10px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.filter-form {
  display: grid;
  grid-template-columns: auto auto 1fr 190px;
  gap: 20px 70px;
  align-items: start;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-content: start;
}

.filter-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 17px;
}

.filter-control-label:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-control-label:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-control-input[type="checkbox"]:checked {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-control-input[type="radio"] {
  border-radius: 50%;
}

.filter-control-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.filter-control-input {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 4px;
  appearance: none;
}

.filter-control-input:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* бордер внутри элемента, а не снаружи, почему? в кнопке наоборот! */
.filter-control-input:focus {
  border: 3px solid #83b3d3;
}

.filter-control-input:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-group-range {
  margin-left: auto;
}

.filter-range-change {
  display: grid;
  grid-template-columns: repeat(2, 143px);
  gap: 2px;
  margin-bottom: 35px;
}

.filter-range-item {
  position: relative;
}

.form-input[type="number"] {
  appearance: textfield;
}

.filter-range-input {
  padding: 10px 55px 10px 18px;
}

/* здесь не понимаю, как сделать для active бордер черный внутри элемента, а для focus - синий СНАРУЖИ */
.filter-range-input-min {
  border-radius: 4px 0 0 4px;
}

.filter-range-input-max {
  border-radius: 0 4px 4px 0;
}

.filter-range-item label {
  position: absolute;
  right: 0;
  padding: 11px 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-control-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-toggle-item {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.filter-toggle-item-min {
  left: 0;
}

.filter-toggle-item-max {
  right: 21%;
}

.filter-toggle {
  position: relative;
  height: 20px;
}

.filter-toggle::before {
  left: 0;
  width: 76%;
  background-color: #ffffff;
}

.filter-toggle::before, .filter-toggle::after {
  content: "";
  position: absolute;
  bottom: 8px;
  height: 4px;
}

.filter-toggle::after {
  right: 0;
  width: 24%;
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-button {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.filter-submit {
  margin-bottom: 33px;
  padding-bottom: 7px;
}

.sorting {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px 70px;
  align-items: center;
  padding: 50px 70px 40px;
}

.sorting-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-select {
  width: 292px;
  height: 49px;
  padding: 0 40px 0 18px;

  font-size: 18px;
  line-height: 21px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #333333;

  background-color: transparent;
  background-image: url("../images/sorting-select.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
}

.sorting-select:hover,
.sorting-select:focus {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.sorting-select:active {
  border: 2px solid #3f5e72;
  border-radius: 4px;
}

.view {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link:hover {
  border-color: #000000;
}

.view-link:focus {
  border-color: #68a2ca;
}

.view-link:active {
  border-color: #000000;
}

.view-link-tile {
  background-image: url("../images/icon-tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/icon-slideshow.svg");
}

.view-link-list {
  background-image: url("../images/icon-list.svg");
}

.view-link-current {
  text-decoration: none;
  border: 2px solid #000000;
}

.product-card {
  padding: 0 70px 24px;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.card-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.card-img {
  display: block;
  grid-column: 1/-1;
  max-width: 300px;
  height: 212px;
}

.card-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.card-link {
  display: inline-block;
  grid-column: 1 / -1;
  color: #000000;
  text-decoration: none;
}

.card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.card-description + .card-description {
  text-align: right;
}

.card-favorites-current {
  background-color: #7db54f;
}

.card-favorites-current:hover,
.card-favorites-current:focus {
  background-color: #6c9e42;
}

.card-favorites-current:active {
  color:rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.card-rating-text {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.card-rating-star {
  display: block;
  height: 37px;
  background-image: url(../images/stars.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.card-rating-star-4 {
  width: 90px;
}

.card-rating-star-3 {
  width: 70px;
}

.card-rating-star-2 {
  width: 49px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 38px 0 37px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  border-color: transparent;

  pointer-events: none;
}

.pagination-link-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 45px 70px 35px;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  color: #83b3d3;
}

.social-link:hover,
.social-link:focus {
  color: #68a2ca;
}

.social-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.contact-tel {
  display: block;
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.contact-tel:hover,
.contact-tel:focus {
  color: #756157;
}

.contact-tel:active {
  color: rgba(117, 97, 87, 0.3)
}

.footer-developer {
  display: block;
  width: 115px;
  height: 33px;

  color: #000000;
}

.footer-developer:hover,
.footer-developer:focus {
  color: #756157;
}

.footer-developer:active {
  color: rgba(117, 97, 87, 0.3)
}
