@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Pt Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Pt Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;

  position: relative;

  min-height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main {
  flex-grow: 1;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 70px;
}

.navigation-logo {
  position: relative;
  z-index: 1;

  display: block;
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 28px;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.navigation-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
  color: #000000;
  text-decoration: none;

  padding: 20px 16px;
}

.navigation-user-link {
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
}

.button {
  display: inline-block;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Pt Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-light {
  background-color: #82B3D3;
}

.button-transparent {
  background-color: transparent;
}

.page-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.page-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.hero {
  padding: 51px 70px 82px;

  color: #ffffff;

  background-color: #94989b;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero img {
  width: 458px;
  height: 352px;
  display: block;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-container {
  display: flex;
}

/* почему здесь картинка не разворачивается? */
.advantages-container:nth-child(2n) {
  flex-direction: row-reverse;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  text-align: center;
  color: #333333;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  width: 100%;
  background-color: #82B3D3;
}

.advantages-item-full .advantages-title {
  color: #ffffff;
}

.advantages-item-full .advantages-text {
  color: #ffffff;
}

/* мы этим кодом убираем выглядывающий кусочек фона снизу под картинкой?
а почему не так:

.advantages-image img {
  vertical-align: middle;
}

*/
.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-content {
  width: 400px;
  min-height: 384px;
  padding: 113px 85px 30px;
}

.advantages-list-services .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-services .advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-list-services .advantages-content {
  padding-top: 183px;

  background-repeat: no-repeat;
  background-position: center 78px;
}

.advantages-content-home {
  background-image: url("../images/services-house.svg");
}

.advantages-content-food {
  background-image: url("../images/services-food.svg");
}

.advantages-content-souvenirs {
  background-image: url("../images/services-gift.svg");
}

.page-description {
  padding: 69px 70px 68px;

  text-align: center;
}

.page-description-services {
  padding-top: 63px;
  padding-bottom: 41px;
}

.search {
  padding: 96px 70px;

  text-align: center;
}

.subscribe {
  padding: 96px 70px 104px;

  text-align: center;
}

.subscribe-home {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #333333;
  color: #ffffff;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-button {
  width: 232px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.form-input {
  width: 100%;
  height: 48px;
  padding: 13px 17px 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Pt Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;

  appearance: none;
}

.subscribe-input {
  font-weight: 400;
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
}

.filter {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #94989b;
  background-image: url("../images/filter-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-page-title {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  padding: 8px 0 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

/* не понимаю, почему не видно домик, и нужно ли его объединять со стрелочкой (а если нет, то как ее вставить) */
.breadcrumbs-link-home {
  background-image: url("../images/icon-breadcrumbs.svg");
  background-repeat: no-repeat;
}

/* заккоментировала флексовые настройки, чтобы не удалять пока
 .filter-form {
  display: flex;
  flex-wrap: wrap;
} */

/* .filter-group-check {
  margin-right: 70px;
}

.filter-group-radio {
  margin-right: 140px;
}

.filter-group-range {
  margin-right: 70px;
}

.filter-button {
  display: flex;
  flex-direction: column;
} */

.filter-form {
  display: grid;
  grid-template-columns: 220px 290px auto 190px;

  padding: 40px 0 0;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group-check .filter-item {
  padding-bottom: 16px;
}

.filter-group-check .filter-item:last-child {
  padding-bottom: 0;
}

.filter-group-radio .filter-item {
  padding-bottom: 16px;
}

.filter-group-radio .filter-item:last-child {
  padding-bottom: 0;
}

.filter-range-change {
  display: flex;
}

.filter-range-input-min {
  margin-right: 2px; /* почему не видно этот разрыв, как на макете? */
  border-radius: 4px 0 0 4px;
}

.filter-range-input-max {
  border-radius: 0 4px 4px 0;
}

.filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.filter-control-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-button {
  padding: 56px 0 0;
}

.filter-submit {
  width: 190px;
  text-align: center;
}

.filter-reset {
  padding: 32px 0 0;
  width: 190px;
  text-align: center;
}

.sorting {
  display: flex;
  align-items: center;
  padding: 50px 70px 40px;  /* на макете такие отступы, решила не добавлять верхний паддинг гриду и сделать здесь*/
}

.sorting-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/* не пойму, правильно ли я сдвинула сортинг к view */
.sorting-select {
  width: 292px;
  height: 49px;
  padding: 0 40px 0 18px;
  margin-left: auto;
  margin-right: 70px;

  font-size: 18px;
  line-height: 21px;
  font-family: "Pt Sans", "Arial", sans-serif;
  color: #333333;

  background-color: transparent;
  background-image: url("../images/sorting-select.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
}

.view {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link-tile {
  background-image: url("../images/icon-tile.svg");
}

.view-link-slideshow {
  background-image: url("../images/icon-slideshow.svg");
}

.view-link-list {
  background-image: url("../images/icon-list.svg");
}

/* как спрятать здесь стрелочку? она же обозначает выбранную ссылку сейчас? */
.view-link-current {
  text-decoration: none;
  border-color: #000000;
}

.product-card {
  padding: 0 70px 24px;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.card-item {
  display: grid;
  grid-template-columns: 140px 140px;

  gap: 16px;

  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

/* у меня не работает через object-fit: cover; в чем проблема? задано делать через это свойство
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/

.card-img {
  grid-column: 1 / -1;
}

.card-link {
  grid-column: 1 / -1;
  color: #000000;
  text-decoration: none;
}

.card-description:nth-child(2n) {
  display: grid;
  justify-content: end;
}

.card-rating-text {
  padding: 8px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Pt Sans", "Arial", sans-serif;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.product-card-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
}

.pagination {
  display: flex;
  padding: 40px 0 0; /* в макете 80px, но есть еще декоративная полоска, норм если у нее тоже будет паддинг сверху 40px? */
  border-radius: 25%;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  padding: 12px 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-more {
  color: #000000;
  background-color: #ffffff;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 45px 70px 35px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  padding: 12px;
}

.contact-tel {
  display: block;
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-developer {
  display: block;
  width: 115px;
  height: 33px;

  color: #000000;
}
